* {
    user-select: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    margin-bottom: 10px;
    gap: 10px;
}

span {
    margin: 40px
}

#Kirjaudu {
    margin-left: 50%;
    cursor: pointer;
}

#Avaa1 {
    position: absolute;
    top: 100%;
    left: 80%;
    
    background-color: grey;
}