* {
    user-select: none;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div {
    margin-bottom: 10px;
    gap: 10px;
}

span {
    margin: 40px
}

#Kirjaudu {
    border: 2px solid black;
    padding: 10px;
    background-color: lightgrey;
    margin-left: 50%;
    cursor: pointer;
}

#Avaa1 {
    position: absolute;
    top: 80%;
    left: 75%;
    padding: 5px;
    background-color: grey;
    border: 2px solid black;
}

input[type="text"] {
    margin-bottom: 2px;
}

#Luonti_paneeli {
    position: absolute;
    top: 20%;
    left: 60%;
    padding: 10px;
    background-color: lightgrey;
    border: 2px solid black;
}
#Luonti_paneeli input, #Luonti_paneeli textarea {
    display: block;
    margin: 5px auto;
    width: 200px;
    min-width: 5vw;
    min-height: 1vw;
}

#Äänestykset {
    overflow-y: auto;
    max-height: 20vh;
    border: 2px solid black;
}

#Valittu_Sisältö {
    overflow-y: auto;
    max-height: 30vh;
    border: 1px solid gray;
}

.kortti.selected {
    border: 2px solid blue !important;
}